<?php

return [
    'db' => [
        'adapters' => [
            'Application\Db\LocalSQLiteAdapter' => [
                'driver' => 'Pdo_Sqlite',
                'dsn'    => 'sqlite:./data/database/content-development.sqlite3',
            ],
            'Application\Db\CredentialsAdapter' => [
                'driver' => 'Pdo_Sqlite',
                'dsn'    => 'sqlite:./data/database/credentials-production.sqlite3',
            ],
            'Application\Shrt\Db\CredentialsAdapter' => [
                'driver' => 'Pdo_Sqlite',
                'dsn'    => 'sqlite:./data/database/shrt-production.sqlite3',
            ],
        ],
    ],
];